# Use PyTorch CUDA 13.0 wheels
--extra-index-url https://download.pytorch.org/whl/cu130
# pyyaml>=6.0
tqdm>=4.0
# causal-conv1d==1.5.2
constriction==0.4.1
# mamba-ssm==2.2.5
# mambapy==1.2.0
numpy==2.3.3
h5py==3.15.1
# pybind11==3.0.1
# scikit-learn==1.7.2
# scipy==1.16.2
# seaborn==0.13.2
matplotlib>=3.0
mplhep>=0.3
# setuptools==70.2.0
torch==2.9.0+cu130
torchvision==0.24.0+cu130
# tqdm==4.67.1
# triton==3.5.0
# wheel==0.45.1
# uproot==5.6.8
# requests==2.32.5
# aiohttp==3.13.2
